.nav {
    /* padding: 20px; */
    background: rgb(213, 222, 235);
    justify-content: center;
}

.nav-ul {
    display: flex;
    flex-direction: row;
}

.nav-ul li {
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  list-style-type: none;
  font-size: 20px;
}

.nav-ul li:hover {
    background: rgb(171, 184, 201);
}

.nav-link {
    text-decoration: none;
    color: black;
}